*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* da rimuovere */
header {
    background-color: aqua;
}

main {
    background-color: blueviolet;
}

footer {
    background-color: peru;
}

footer ul li {
    background-color: burlywood;
}
/* qui inizia */
ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

footer ul li img {
    max-width: 44px;
    height: auto;
}