*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* da rimuovere */
/*
header {
    background-color: aqua;
}

main {
    background-color: blueviolet;
}

footer {
    background-color: peru;
}

footer ul li {
    background-color: burlywood;
}
    */
    /* Inserisco il commento per vedere se Git va */
/* qui inizia */
/* 1. Far occupare a body tutta l'altezza */
html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
/* 2. Togliere decorazioni e bullet alle liste */
ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}
/* 3. Sistemare il footer */
footer img {
    width: 40px;
    height: auto;
}

footer li {
    display: flex;
    max-width: 44px;
    height: auto;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer {
    padding: 20px;
    border-top: 4px solid black;
}

/* 4. Sistemare l'header */
/* Qua ho provato a creare la versione desktop dell'header, anche se so
che per l'esercizio è obbligatorio scrivere mobile-first. Fai conto che
quello che segue è un esempio del risultato che vorrei ottenere. */
/* .original header {
    border-bottom: 4px solid black;
}

.original nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;   
    padding: 20px; 
    background-color: white;
}

.original .nav-left ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.original header li {
    border: 4px solid black;
    padding: 10px;
}

.original header a {
    font-family: 'Courier New', Courier, monospace;
    
} */
/* BACKUP HEADER */
/* 4. Sistemare l'header */
/* Qua ho provato a creare la versione desktop dell'header, anche se so
che per l'esercizio è obbligatorio scrivere mobile-first. Fai conto che
quello che segue è un esempio del risultato che vorrei ottenere. */
/*
header {
    border-bottom: 4px solid black;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;   
    padding: 20px; 
    background-color: white;
}

.nav-left ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header li {
    border: 4px solid black;
    padding: 10px;

}

header a {
    font-family: 'Courier New', Courier, monospace;
    
}
FINE BACKUP HEADER */

/* INIZIO HEADER HAMBURGER */
.mod header a {
    font-family: 'Courier New', Courier, monospace;
    
}

.mod .header {
    /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1); */
    border-bottom: 4px solid black;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.mod .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.mod .header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.mod .header ul a:hover {
    border: 4px solid black;
}

.mod .header .logo {
    float: left;
    font-size: 25px;
    padding: 10px 20px;
}

.mod .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.mod .header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.mod .header .menu-icon .nav-icon {
    background-color: gray;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
}

.mod .header .menu-icon .nav-icon::before,
.mod .header .menu-icon .nav-icon::after {
    background-color: gray;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    position: absolute;
}

.mod .header .menu-icon .nav-icon::before {
    top: 5px;
}
.mod .header .menu-icon .nav-icon::after {
    top: -5px;
}

.mod .header .menu-btn {
    display: none;
}

.mod .header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.mod .header .menu-btn:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
}
.mod .header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}
.mod .header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}


/* FINE HAMBURGER */


/* Piccola correzione centratura verticale img */

footer li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cambio il colore dei link */
header a:link {
    color: black;
    font-weight: 700;
}
header a:visited {
    color: rgb(126, 126, 126);
    font-weight: 400;
}
header a:hover {
    color: black;
    font-weight: 700;
}
header a:active {
    color: red;
    font-weight: 700;
}
/* qua inizia parte desktop */
@media (min-width: 48em) {
    .mod .header li {
        float: left;
    }

    .mod .header li a {
        padding: 20px 30px;
    }

    .mod .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .mod .header .menu-icon {
        display: none;
    }
}

/* Qui finisce la parte comune per tutte le pagine */