*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* da rimuovere */
header {
    background-color: aqua;
}

main {
    background-color: blueviolet;
}

footer {
    background-color: peru;
}

footer ul li {
    background-color: burlywood;
}
/* qui inizia */
ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

footer img {
    width: 40px;
    height: auto;
}

footer li {
    display: flex;
    max-width: 44px;
    height: auto;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}